<app-menu-gral></app-menu-gral>
<div class="conteiner"> 
    <h1 class="titulo">COARASA Walter Alberto</h1>
    <h4 class="titulo"> Legajo N° 102099</h4>
    <img src="../assets/quiensoy/Wally.jpg" alt="Foto Wally" width="92" height="92">
    <br>
    <div class="parrafoPropio anchoP">
        Explicación del juego propio "Jugando como se escribe": <br>
        El jugador elije el idioma con el que quiere jugar. Luego selecciona entre Colores, Números, Animales;
        que desea saber como se escribe. Una vez ingresado se desafia acertar la palabra correcta. Se le presenta varias
        opciones que pueda elegir, selecciona la correcta se festeja, y vuelve iniciar. Si no elege la correcta se repite el desafio. 
    </div>
</div>
<app-pie-gral></app-pie-gral>